ExamMvcWeb/Connected Services/EmployeeService/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:25474/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ExamWcfService" />
  <xs:element name="AddEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ExamWcfService" minOccurs="0" name="employee" nillable="true" type="q1:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddEmployeeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ExamWcfService" minOccurs="0" name="FindAllResult" nillable="true" type="q2:ArrayOfEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ExamWcfService" minOccurs="0" name="SearchEmployeeResult" nillable="true" type="q3:ArrayOfEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ExamWcfService" minOccurs="0" name="composite" nillable="true" type="q4:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ExamWcfService" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q5:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>